#content {
    margin: 1rem;
}

.title {
    background-color: #fff;
    border: 0.1rem solid #1295FA;
    border-radius: 0.3rem;
    color: #9126E8;
    font-family: 'Cardo';
    font-weight: 900;
    margin: 0;
    text-decoration: underline;
}

h2.lead {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    font-size: 1.9rem;
}

.news-title {
    color: #DA33FF;
    font-family: 'Merriweather', sans-serif;
    font-display: swap;
    font-size: 1.5rem;
}

.news-link {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.7rem;
}

.titles-span, .links-span {
    color: gray;
}

/* links */
body > div.content > div > ul > li > a {
    text-decoration: None;
}

/* links:hover */
body > div.content > div > ul > li > a:hover {
    text-decoration: None;
}

body hr {
    border: 0.05rem solid #1295FA;
    margin: 1rem auto;
    width: 73%;
}

.list-group-item {
    max-width: 100%;
    word-wrap: break-word;
}

/* .jumbotron */
#content > div > div {
    margin: 0;
}

.jumbotron {
  animation: color-change 10s linear infinite;
  background-color: #47FFAC;
  border: 0.1rem solid #1295FA;
  margin: 1rem 0;
}

@keyframes color-change {
  25% {
    background-color: #FC5378;
  }

  50% {
    background-color: #4044E6;
  }

  100% {
    background-color: #47FFAC;
  }
}

header.masthead {
  margin-bottom: 19px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  font-family: 'Merriweather', sans-serif;
  padding: 91px 0 91px;
  color: white;
}

header.masthead .site-heading, .section1 {
    padding: 3px 0;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: ''
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

#footer {
    background-image: url('../images/space.jpg');
    background-size: cover; /* This will scale the image to cover the entire element */
    background-position: center center; /* This centers the image both horizontally and vertically */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    /* You can also set a fixed height if needed
    height: 199px; /* Adjust the height as per your design */
}

.fa-inverse {
    background-color: #9126E8;
    border: 0.1rem solid #AEFAFC;
    border-radius: 55%;
    color: #fff;
    margin-top: 0.5rem;
}

.fa-inverse:hover {
    color: #6ABFA6;
    width: 3.7rem;
}

.fas {
    color: transparent !important;
}

span.copyright {
    background-color: #fff;
    border: 0.1rem solid #1295FA;
    border-radius: 0.3rem;
    color: #9A30F3;
    font-family: 'Cardo';
    padding: 0.1rem 0.7rem;
    text-decoration: None;
}
# --------------------------------------------------- 🔥👌🏿💚😇❤️🔥 ---------------------------------------------------#
